:host {
  display: block;
}
.form-control-invalid-text {
  font-size: var(--gr-form-element-invalid-text-font-size-medium);
  color: var(--gr-form-element-invalid-text-color);
  line-height: var(--gr-line-height-normal);
}